# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.env

# Django static & media
staticfiles/
media/

# Docker
*.log
*.pid
*.sock

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
